/*
--------------------------------------------------------------
General
--------------------------------------------------------------
*/

section {
    margin-bottom: 0;
}

.container {
  padding: 100px 0 60px 0;
}

.container-splash {
  padding: 120px 0 120px 0 !important;
}

.container-splash h2,
.container-splash h3 {
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

img {
  display: block;
  margin: 0 auto;
}

/*
--------------------------------------------------------------
Nav Affix
--------------------------------------------------------------
*/

#nav-affix {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
}

#nav-affix > #affix-logo h3 {
  padding: 15px 0 15px 40px;
  color: #ffffff;
}

#nav-affix ul {
  padding: 15px 0 15px 0;
  color: #ffffff;
  margin: 0;
}

#nav-affix ul > li {
  display: inline;
  padding: 0 15px 0 15px;
}

#nav-affix ul > li:last-child {
  padding-right: 60px;
}

#nav-affix ul > li > a {
  border-bottom: 0;
}

/*Doesn't currently work, trying to figure out scrollspy*/
/*#nav-affix ul > li.active > a {
  color: red !important;
  text-decoration: underline;
}*/

#nav-affix.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

/*
--------------------------------------------------------------
Idea
--------------------------------------------------------------
*/

#idea {
}

/*
--------------------------------------------------------------
Research
--------------------------------------------------------------
*/

/*
--------------------------------------------------------------
Research Splash
--------------------------------------------------------------
*/

#research-splash {
  background: url('../images/research-splash.jpg') 50% 0 fixed;
  background-size: cover;
}

#research-splash > .container-splash h2,
#research-splash > .container-splash h3 {
  color: #000000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}


/*
--------------------------------------------------------------
People Splash
--------------------------------------------------------------
*/

#people-splash {
  background: url('../images/people-splash.jpg') 50% 0 fixed;
  background-size: cover;
}

/*
--------------------------------------------------------------
People
--------------------------------------------------------------
*/


/*
--------------------------------------------------------------
Contact
--------------------------------------------------------------
*/

/*
--------------------------------------------------------------
Contact Splash
--------------------------------------------------------------
*/

#contact-splash {
  background: url('../images/contact-splash.jpg') 50% 0 fixed;
  background-size: cover;
}

/*
--------------------------------------------------------------
Footer
--------------------------------------------------------------
*/

#footer {
  padding: 30px 0 15px 0;
  background-color: #202225;
}

#footer > .container {
  padding: 10px 0 70px 0;
}

#footer > .copyright {
  color: #ffffff;
}

/*
--------------------------------------------------------------
Misc
--------------------------------------------------------------
*/

.clearfix:after {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.placeholder {
  border: 2px dashed #000000;
}

.text-center {
  text-align: center;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}