/*
--------------------------------------------------------------
General
--------------------------------------------------------------
*/

section {
    margin-bottom: 0;
}

.container {
  padding: 60px 0 60px 0;
}

.container-splash {
  padding: 120px 0 120px 0 !important;
}

.container-splash h2,
.container-splash h3 {
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

img {
  display: block;
  margin: 0 auto;
}

/*
--------------------------------------------------------------
Nav Affix
--------------------------------------------------------------
*/

#nav-affix {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

#nav-affix h3 {
  padding: 15px 0 15px 0;
  color: #ffffff;
}

#nav-affix.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

/*
--------------------------------------------------------------
Idea
--------------------------------------------------------------
*/

#idea {
  margin-top: 63px;
}

/*
--------------------------------------------------------------
Research
--------------------------------------------------------------
*/

/*
--------------------------------------------------------------
Research Splash
--------------------------------------------------------------
*/

#research-splash {
  background: url('../images/pic06.jpg') 50% 0 fixed;
  background-size: cover;
}



/*
--------------------------------------------------------------
People Splash
--------------------------------------------------------------
*/

#people-splash {
  background: url('../images/pic06.jpg') 50% 0 fixed;
  background-size: cover;
}

/*
--------------------------------------------------------------
People
--------------------------------------------------------------
*/


/*
--------------------------------------------------------------
Contact
--------------------------------------------------------------
*/

/*
--------------------------------------------------------------
Contact Splash
--------------------------------------------------------------
*/

#contact-splash {
  background: url('../images/pic06.jpg') 50% 0 fixed;
  background-size: cover;
}

/*
--------------------------------------------------------------
Footer
--------------------------------------------------------------
*/

#footer {
  padding: 30px 0 15px 0;
  background-color: #202225;
}

#footer > .container {
  padding: 10px 0 70px 0;
}

#footer > .copyright {
  color: #ffffff;
}

/*
--------------------------------------------------------------
Misc
--------------------------------------------------------------
*/


.placeholder {
  border: 2px dashed #000000;
}

.text-center {
  text-align: center;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}