/*
--------------------------------------------------------------
CSS file for the SMV landing page
--------------------------------------------------------------
*/

/*
--------------------------------------------------------------
General
--------------------------------------------------------------
*/

html, body {
	/* Allows us to use 100% height */
	height: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	padding: 15px 0 7px 0;
}

section {
	border-bottom: 12px solid #1c1c1d;
}

@media (min-width: 768px) {
	.container {
		padding-bottom: 30px;
	}

	section {
		border-bottom: 20px solid #1c1c1d;
	}
}

@media (min-width: 992px) {
	.container {
		padding-bottom: 60px;
	}
}

@media (min-width: 1200px) {
	.container {
		padding-bottom: 70px;
	}
}

.container>.row {
	margin: 15px 0 15px 0;
}

section p {
	margin: 5px 0 10px 0;
	font-weight: 300;
}

section img {
	display: block;
	margin: 0 auto;
}

/*
--------------------------------------------------------------
Section Headings
--------------------------------------------------------------
*/

section > .section-heading {
	background-color: #881621;
	color: #ffffff;
	text-align: center;
}

section > .section-heading > .container {
	padding: 0;
}

section > .section-heading h1 {
	font-size: 58px;
	margin-bottom: 5px;
	text-shadow: rgba(0, 0, 0, 0.1);
}

section > .section-heading > .container p {
	font-size: 20px;
	color: #CDA0A1;
	margin-top: 0;
}

@media (min-width: 768px) {
	section > .section-heading {
		text-align: left;
	}

	section > .section-heading h1 {
		font-size: 86px;
		text-shadow: rgba(0, 0, 0, 0.1);
	}

	section > .section-heading > .container p {
		font-size: 28px;
		padding-left: 5px;
	}
}

/*
--------------------------------------------------------------
Misc.
--------------------------------------------------------------
*/

.splash-anchor {
	height: 65px;
	postition: absolute;
	bottom: 0;
}

.section-lead p {
	font-size: 20px;
	font-weight: 300;
}

@media (min-width: 768px) {
	.section-lead p {
		font-size: 24px;
	}
}

@media (min-width: 992px) {
	.section-lead p {
		font-size: 28px;
	}
}

/*
--------------------------------------------------------------
Nav Affix
--------------------------------------------------------------
*/

header {
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 0;
	z-index: 999;

	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}

.navbar-default {
	background-color: transparent;
	border: 0;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
	border: 0;
	min-height: 60px;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

header.solid-header {
	background-color: rgba(255, 255, 255, 0.97);

	/* light box shadow for nav-affix - ONLY FOR HEADER */
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

header.solid-header .navbar-default .navbar-brand,
header.solid-header .navbar-default .navbar-nav > li > a {
	color: #000000;
}


.navbar-brand {
	padding: 20px 15px 20px 15px;
	font-size: 26px;
	height: 60px;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	font-size: 20px;
	padding: 20px 15px 20px 15px;
	font-weight: 300;
	border-bottom: 5px solid transparent;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: #ffffff;

	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}

/* Active effect of scrollspy */
header.solid-header .navbar-default .navbar-nav > .active > a,
header.solid-header .navbar-default .navbar-nav > .active > a:hover,
header.solid-header .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: #881621;
	border-bottom: 5px solid #881621;
}

.navbar-toggle {
	margin-top: 13px;
	margin-bottom: 13px;
}

/*
--------------------------------------------------------------
Splash
--------------------------------------------------------------
*/

#splash {
	height: 100vh;
	width: 100%;

	background: url('../img/studio.jpg') 50% 0 fixed;
	background-color: #ffffff;
	background-size: cover;

	border-bottom: 0;

	display: table;
}

#splash-inner {
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
}

#splash-inner h2 {
}

#splash h2 strong {
	color: #881621;
}

#splash h1 {
	margin: 80px 0 5px 0;
	font-size: 58px;
}

#splash h2 {
	margin: 5px 0 5px 0;
	font-size: 32px;
}


@media (min-width: 768px) {
	#splash h1 {
		margin-top: 70px;
		font-size: 72px;
	}

	#splash h2 {
		margin-top: 10px;
		font-size: 46px;
	}

}

@media (min-width: 992px) {
	#splash h1 {
		margin-top: 110px;
		font-size: 100px;
	}

	#splash h2 {
		font-size: 64px;
	}
}

/*
--------------------------------------------------------------
The Idea
--------------------------------------------------------------
*/

#idea .container>#smv-video.row {
	margin-top: 30px;
}

#smv-video source {
	max-width:100%;
	height: auto;
}

#smv-video h1 {
	padding-left: 8px;
}

#smv-video h4 {
	font-size: 24px;
	font-weight: 300;
}

#smv-video a:hover,
#smv-video a:focus {
	text-decoration: none;
}

#smv-video .panel-group {
	margin: 3px 0 0 0;
}

@media (min-width: 1200px) {
	#idea-features {
		min-height: 445px;
	}
}

/*
--------------------------------------------------------------
Research Splash
--------------------------------------------------------------
*/

#research-splash {
	width: 100%;
	padding: 320px 0 0 0;
	background: url('../img/research-bg.jpg') 50% 0 fixed; min-height: 320px;
	background-size: cover;
	border-bottom: 0;
}

/*
--------------------------------------------------------------
The Research
--------------------------------------------------------------
*/


#research > .container h1 {
	text-align: center;
}

#research-callouts p {
	font-size: 16px;
}

#research .btn {
	border-radius: 0;
	color: #ffffff;
  background-color: #881621;
  border-color: #881621;
  font-weight: 300;

  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;

  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
	#research .btn {
		display: initial;
	}
}



#research .btn:hover,
#research .btn:focus,
#research .btn:active,
#research .btn.active {
  color: #000;
  background-color: #fff;
  border-color: #881621;
}

/*
--------------------------------------------------------------
People Splash
--------------------------------------------------------------
*/

#people-splash {
	width: 100%;
	padding: 320px 0 0 0;
	background: url('../img/team-bg.jpg') 50% 0 fixed;
	background-size: cover;
	border-bottom: 0;
}


/*
--------------------------------------------------------------
The People
--------------------------------------------------------------
*/

#people-intro {
	padding: 15px;
}

.person {
	margin-bottom: 7px;
}

#people .name h3 {
	margin: 0;
}

@media (min-width: 768px) {
	.person-pic img {
		border-radius: 50%;
	}
	.person {
		margin-bottom: 20px;
	}

	#people .name h3 {
		margin: 20px 0 10px 0;
	}
}

#people .person-pic img {
	height: auto;
	max-width: 100%;
}

@media (min-width: 992px) {
	#people .person-pic {
		padding: 0 10px 0 0;
	}
	#people .person-pic img {
		height: 100px;
		width: 100px;
	}
	#people .name h3 {
		margin: 0;
	}
	#people .name {
		padding: 0;
	}
}

/*
--------------------------------------------------------------
Contact Splash
--------------------------------------------------------------
*/

#contact-splash {
	width: 100%;
	padding: 320px 0 0 0;
	background: url('../img/raleigh-skyline.jpg') 50% 0 fixed;
	background-size: cover;
	border-bottom: 0;
}

/*
--------------------------------------------------------------
Contact Us
--------------------------------------------------------------
*/

#contact p {
	font-size: 20px;
}

/*
--------------------------------------------------------------
Footer
--------------------------------------------------------------
*/
footer {
	/* #af0606, #b9090b */
	background-color: #1c1c1d;
	color: #ffffff;
}

footer>.container {
	padding: 50px 0 100px 0;
}

footer ul>li>a,
footer ul>li>a:hover,
footer ul>li>a:focus {
	color: #ffffff;
}

footer h3 {
	padding-bottom: 3px;
	color: #881621;
	border-bottom: 1px solid #ffffff;
}

/*
--------------------------------------------------------------
Misc.
--------------------------------------------------------------
*/

.placeholder {
	border: 2px dashed #000000;
}