/*
--------------------------------------------------------------
CSS file for the SMV landing page
--------------------------------------------------------------
*/

/*
--------------------------------------------------------------
General
--------------------------------------------------------------
*/

body {
	font-family: 'Source Sans Pro', sans-serif;
}

section p {
	margin: 5px 0 10px 0;
	font-weight: 300;
}

section img {
	display: block;
	margin: 0 auto;
}

/*TODO: Make padding scale with screen size*/
.container {
	padding: 20px 0 90px 0;
}

.container>.row {
	margin: 15px 0 15px 0;
}

/*
--------------------------------------------------------------
Section Headings
--------------------------------------------------------------
*/

section > .section-heading {
	background-color: #af0606;
	color: #ffffff;
}

section > .section-heading > .container {
	padding: 120px 0 70px 0;
}

section > .section-heading h1 {
	font-size: 80px;
	text-shadow: rgba(0, 0, 0, 0.1);
	margin-bottom: 0;
}

section > .section-heading p {
	font-size: 26px;
	color: #FFCCCB;
	margin-top: 0;
	padding-left: 5px;
}


/*
--------------------------------------------------------------
Splash
--------------------------------------------------------------
*/

#splash {
	width: 100%;
}

/*
--------------------------------------------------------------
Nav Affix
--------------------------------------------------------------
*/

#nav-affix {
	color: #000000;
	top: -70px;
	width: 100%;
}

.navbar-default {
	background-color: #ffffff;
	border: 0;
}

#nav-affix.affix {
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 999;
	
	/* light box shadow for nav-affix */
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	
	/* nav-affix fade-in from top transition once affix offset is reached */
	transition: top 1s;
	-moz-transition: top 1s;
	-o-transition: top 1s;
    -webkit-transition: top 1s;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
	border: 0;
	min-height: 70px;
}

.navbar-default .navbar-brand {
	color: #000000;
}

.navbar-brand {
	padding: 25px 15px 25px 15px;
	font-size: 26px;
	height: 70px;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
	color: #af0606;
}

.navbar-default .navbar-nav > li > a {
	color: #000000;
	font-size: 20px;
	padding: 25px 15px 25px 15px;
	font-weight: 300;
	border-bottom: 7px solid transparent;
}


.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
	color: #af0606;
}

/* Active effect of scrollspy */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: #af0606;
	border-bottom: 7px solid #af0606;

	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	}

.navbar-toggle {
	margin-top: 21px;
	margin-bottom: 21px; 
}

/*
--------------------------------------------------------------
The Idea
--------------------------------------------------------------
*/


#idea p {
	font-size: 20px;
}

#idea .container>#smv-video.row {
	margin-top: 30px;
}

#smv-video source {
    max-width:100%;
    height: auto;
}

#smv-video > div {
    padding: 0;
}

/*
--------------------------------------------------------------
Research Splash
--------------------------------------------------------------
*/

#research-splash {
	width: 100%;
	padding: 180px 0 180px 0;
	background: url('../img/people-splash.jpg') 50% 0 fixed;
	background-size: cover;
}

/*
--------------------------------------------------------------
The Research
--------------------------------------------------------------
*/


#research > .container h1 {
	text-align: center;
}

#research-callouts p {
	font-size: 16px;
}

/*
--------------------------------------------------------------
People Splash
--------------------------------------------------------------
*/

#people-splash {
	width: 100%;
	padding: 180px 0 180px 0;
	background: url('../img/people-splash.jpg') 50% 0 fixed;
	background-size: cover;
}

/*
--------------------------------------------------------------
The People
--------------------------------------------------------------
*/

#people-intro {
	padding: 35px 0 35px 0;
}

#people .person-pic img {
	height: auto;
	max-width: 100%;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
	#people .person-pic {
		padding: 0 10px 0 0;
	}
	#people .person-pic img {
		height: 100px;
		width: 100px;
	}
	#people h3 {
		margin: 0;
	}
	#people .person {
		padding: 0;
	}
}

/*
--------------------------------------------------------------
Contact Splash
--------------------------------------------------------------
*/

#contact-splash {
	width: 100%;
	padding: 180px 0 180px 0;
	background: url('../img/contact-splash.jpg') 50% 0 fixed;
	background-size: cover;
}

/*
--------------------------------------------------------------
Contact Us
--------------------------------------------------------------
*/

#contact p {
	font-size: 20px;
}

/*
--------------------------------------------------------------
Footer
--------------------------------------------------------------
*/
footer {
	/* #af0606, #b9090b */
	background-color: #af0606;
	color: #ffffff;
}

footer>.container {
	padding: 50px 0 100px 0;
}

footer ul>li>a,
footer ul>li>a:hover,
footer ul>li>a:focus {
	color: #FFCCCB;
}

footer h3 {
	padding-bottom: 3px;
	border-bottom: 1px solid #ffffff;
}

/*
--------------------------------------------------------------
Misc.
--------------------------------------------------------------
*/

.placeholder {
	border: 2px dashed #000000;
}